            .wrapper {
                margin: 0 auto;
                width: 100%;
                max-width: 1032px;
                text-align: center;
                justify-content: center;
                align-items: center;
                left: 50%;
                top: 50%;
                margin-top: 12%;
            }
            
            .error {
                color: #F4BD68
            }
            
            .menu {
                margin-top: 15px;
            }
            
            .questionmark {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                text-align: center;
                justify-content: center;
                align-items: center;
                display: grid;
                place-items: center;
                /* font: bold; */
                font-size: 60px;
                background-color: #F4BD68;
                border-radius: 50%;
                margin-top: 10px;
                margin-bottom: 10px;
                color: azure;
            }
            
            .errormessage {
                line-height: 1.8;
                font-weight: lighter;
            }
            
            @media (max-width: 768px) {
                .menu {
                    padding-top: 0.001px;
                }
            }