/* 共通事項 */

body {
  height: 100%;
  width: 100%;
  background-color: #F5F5F8;
  user-select: none;
}

body.overflow-hidden {
  overflow-y: hidden;
}

ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

header {
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #FFFFFF;
  z-index: 99;
}

html {
  box-sizing: border-box;
}

html.overflow-hidden {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}

textarea[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

p {
  font-weight: bold;
}




/* 左側のところのやつら-------------------------------- */


.graphs {
  display: grid;
  gap: 20px;
}

.graph {
  padding: 50px;
  background-color: #FFFFFF;
  margin-top: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 2px 0 #e2dede
}


@media (min-width:768px) {
  .graphs {
      grid-template-columns: repeat(2, 1fr);
  }
}

.chart_title{
  text-align: center;
  font-weight: bold;
  
}