*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

main {
  display: block;
}

img {
  max-width: 100%;
}

.navbar {
  position: sticky;
  padding: 0 16px;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  z-index: 1;
  border-bottom: 5px solid rgb(22, 109, 239);
}

.home{
  height: 30px;
}

.back{
  height: 30px;
}

.item {
  padding: 1.1rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.section-title{
  height: 300px;
  background-image: url(../imgs/bg-line.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-title{
  /* background-color: rgba(197, 101, 224); */
  /* align-items: center;
  color: white;
  width: 100%; */
  font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0,0,0,1);
}

.items-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
  transition: box-shadow .5s;
  border-radius: 20px;
}
.img-container:hover{
  box-shadow: 0 12px 12px gray;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.item-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

.shout-paragraph{
  text-align: center;
    font-size:2em;
    text-align:center;
    line-height:0.95em;
    font-weight:bold;
    text-shadow:
      0 0.03em 0.03em rgba(69, 216, 243, 0.7),
      0 0.03em 0.03em #000,
      0 0.03em 0.03em #FBE9E7;
}


#new_favorite{
  padding-top: 500px;
}

.new_favorite_form{
  text-decoration: underline;
  font-size:1em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: rgba(69, 216, 243, 0.7);
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}

h3{
  text-align: center;
}
.good_container{
  display: flex;
}

/* favoriteフォーム */

